<h3>PySpark Handling Missing Values</h3>
- Droppping Columns <br>
- Dropping Rows <br>
- Various Parameter In Dropping function <br>
- Handling Missing Values by Mean, Median and Mode <br>

In [5]:
%pip install wheel pyspark --user

Note: you may need to restart the kernel to use updated packages.

ERROR: Can not perform a '--user' install. User site-packages are not visible in this virtualenv.
WARNING: You are using pip version 21.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\mieshiii\Desktop\dev\pySpark\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.master("local").appName("Dataframe").getOrCreate()

In [14]:
df_pyspark = spark.read.option('header','true').csv('hr_data.csv', inferSchema=True)

In [16]:

df_pyspark.show()

+----------------+----+----------+------+
|            Name| Age|Experience|Salary|
+----------------+----+----------+------+
|    Tina Coleman|  43|        10| 64116|
|   Walter French|  55|        10| 64294|
|  Herbert Blaese|  42|         7| 50868|
|     Safia Ayala|  28|         3| 52033|
|  Keeley Bennett|  25|         1| 52033|
|  Caitlyn Hebert|  30|         5| 55252|
|Sebastian Hooper|null|        10| 56510|
| Dalton Matthams|  38|         5| 55617|
|   Laura O'Moore|  40|        10| 50692|
| Matthew Warner |null|      null| 59401|
|            null|  32|         6| 54142|
+----------------+----+----------+------+

In [9]:
##drop the columns
df_pyspark.drop('salary').show()

+----------------+----+----------+
|            Name| Age|Experience|
+----------------+----+----------+
|    Tina Coleman|  43|        10|
|   Walter French|  55|        10|
|  Herbert Blaese|  42|         7|
|     Safia Ayala|  28|         3|
|  Keeley Bennett|  25|         1|
|  Caitlyn Hebert|  30|         5|
|Sebastian Hooper|null|        10|
| Dalton Matthams|  38|         5|
|   Laura O'Moore|  40|        10|
| Matthew Warner |null|      null|
|            null|  32|         6|
+----------------+----+----------+

In [10]:
df_pyspark.na.drop().show()

+---------------+---+----------+------+
|           Name|Age|Experience|Salary|
+---------------+---+----------+------+
|   Tina Coleman| 43|        10| 64116|
|  Walter French| 55|        10| 64294|
| Herbert Blaese| 42|         7| 50868|
|    Safia Ayala| 28|         3| 52033|
| Keeley Bennett| 25|         1| 52033|
| Caitlyn Hebert| 30|         5| 55252|
|Dalton Matthams| 38|         5| 55617|
|  Laura O'Moore| 40|        10| 50692|
+---------------+---+----------+------+

In [11]:
### any==how
df_pyspark.na.drop(how="any").show()

+---------------+---+----------+------+
|           Name|Age|Experience|Salary|
+---------------+---+----------+------+
|   Tina Coleman| 43|        10| 64116|
|  Walter French| 55|        10| 64294|
| Herbert Blaese| 42|         7| 50868|
|    Safia Ayala| 28|         3| 52033|
| Keeley Bennett| 25|         1| 52033|
| Caitlyn Hebert| 30|         5| 55252|
|Dalton Matthams| 38|         5| 55617|
|  Laura O'Moore| 40|        10| 50692|
+---------------+---+----------+------+

In [13]:
### any==all 
### all means drop a row if all columns are null
df_pyspark.na.drop(how="all").show()

+----------------+----+----------+------+
|            Name| Age|Experience|Salary|
+----------------+----+----------+------+
|    Tina Coleman|  43|        10| 64116|
|   Walter French|  55|        10| 64294|
|  Herbert Blaese|  42|         7| 50868|
|     Safia Ayala|  28|         3| 52033|
|  Keeley Bennett|  25|         1| 52033|
|  Caitlyn Hebert|  30|         5| 55252|
|Sebastian Hooper|null|        10| 56510|
| Dalton Matthams|  38|         5| 55617|
|   Laura O'Moore|  40|        10| 50692|
| Matthew Warner |null|      null| 59401|
|            null|  32|         6| 54142|
+----------------+----+----------+------+

In [17]:
##threshold
df_pyspark.na.drop(how="any",thresh=2).show()

+----------------+----+----------+------+
|            Name| Age|Experience|Salary|
+----------------+----+----------+------+
|    Tina Coleman|  43|        10| 64116|
|   Walter French|  55|        10| 64294|
|  Herbert Blaese|  42|         7| 50868|
|     Safia Ayala|  28|         3| 52033|
|  Keeley Bennett|  25|         1| 52033|
|  Caitlyn Hebert|  30|         5| 55252|
|Sebastian Hooper|null|        10| 56510|
| Dalton Matthams|  38|         5| 55617|
|   Laura O'Moore|  40|        10| 50692|
| Matthew Warner |null|      null| 59401|
|            null|  32|         6| 54142|
+----------------+----+----------+------+

In [18]:
##Subset
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+----------------+----+----------+------+
|            Name| Age|Experience|Salary|
+----------------+----+----------+------+
|    Tina Coleman|  43|        10| 64116|
|   Walter French|  55|        10| 64294|
|  Herbert Blaese|  42|         7| 50868|
|     Safia Ayala|  28|         3| 52033|
|  Keeley Bennett|  25|         1| 52033|
|  Caitlyn Hebert|  30|         5| 55252|
|Sebastian Hooper|null|        10| 56510|
| Dalton Matthams|  38|         5| 55617|
|   Laura O'Moore|  40|        10| 50692|
|            null|  32|         6| 54142|
+----------------+----+----------+------+

In [28]:
### Fill the missing value
### value should match the initial data type from the data source/schema
df_pyspark.na.fill(value=0, subset=['Age','Experience']).show()

+----------------+---+----------+------+
|            Name|Age|Experience|Salary|
+----------------+---+----------+------+
|    Tina Coleman| 43|        10| 64116|
|   Walter French| 55|        10| 64294|
|  Herbert Blaese| 42|         7| 50868|
|     Safia Ayala| 28|         3| 52033|
|  Keeley Bennett| 25|         1| 52033|
|  Caitlyn Hebert| 30|         5| 55252|
|Sebastian Hooper|  0|        10| 56510|
| Dalton Matthams| 38|         5| 55617|
|   Laura O'Moore| 40|        10| 50692|
| Matthew Warner |  0|         0| 59401|
|            null| 32|         6| 54142|
+----------------+---+----------+------+